@charset "utf-8";
/* CSS Document */

	body
	{
		background-image: url('picture/main_background.gif');
	}

	.guideline
	{
		position: fixed;
		top: 100px;
    		display: inline-block;
    		animation: pulse 1s infinite alternate;
		-moz-animation: pulse 1s infinite alternate;	
		-webkit-animation: pulse 1s infinite alternate;	
		-o-animation: pulse 1s infinite alternate;	
	}
	
	@keyframes pulse 
	{
		0% {
			top: 95px;
		}
		100% {
			top: 110px; 
		} 
	}
	
	.button
	{
    		color: white;
    		padding: 8px;
		width: 100px;
		height: 100px;
		font-family:"宋体";
    		font-size: 16px;
   		border: none;
   		cursor: pointer;
		text-align: center;	
		border-radius:10%;
		background-image:url('../picture/bangbangtang.png');
		background-size: 100%; 
		opacity:0.7;
		transition: opacity 0.3s, transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
        	-ms-transition: opacity 0.3s, -ms-transform 0.3s;
        	-o-transition: opacity 0.3s, -o-transform 0.3s;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	}
	
	.content
	{
    		position: absolute;
    		width: 100px;
		text-align: center;
	}
	
	.content a
	{
		height: 70px;
		padding: 20% 10px;
		text-decoration: none;
		display: block;
		font-family:"微软雅黑";
		font-size: 20px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		opacity: 0;
        	-webkit-transform: rotateY(90deg);
        	-moz-transform: rotateY(90deg);
        	-ms-transform: rotateY(90deg);
        	-o-transform: rotateY(90deg);
        	transform: rotateY(90deg);
        	-webkit-transition: opacity .4s, -webkit-transform .5s;
        	-moz-transition: opacity .4s, -moz-transform .5s;
        	-ms-transition: opacity .4s, -ms-transform .5s;
        	-o-transition: opacity .4s, -o-transform .5s;
        	transition: opacity .4s, transform .5s;
	}
	
	.guideline:hover
	{
		-moz-animation: none;	
		-webkit-animation: none;	
		-o-animation: none;
		-ms-transition: none;
		animation: none;
	}
	
	.guideline:hover button 
	{
		opacity:1;
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	
	.guideline:hover .content a
	{
		opacity: 1;
		-webkit-transform: none;
        	-moz-transform: none;
        	-ms-transform: none;
        	-o-transform: none;
        	transform: none;
	}
	
	
	.guideline:hover .content a:nth-child(1)
	{
		-webkit-transition-delay: 0s;
        	-moz-transition-delay: 0s;
        	-ms-transition-delay: 0s;
        	-o-transition-delay: 0s;
        	transition-delay: 0s;
	}
	
	.guideline:hover .content a:nth-child(2)
	{
		-webkit-transition-delay: 100ms;
        	-moz-transition-delay: 100ms;
        	-ms-transition-delay: 100ms;
        	-o-transition-delay: 100ms;
        	transition-delay: 100ms;
	}
	
	.guideline:hover .content a:nth-child(3)
	{
		-webkit-transition-delay: 200ms;
        	-moz-transition-delay: 200ms;
        	-ms-transition-delay: 200ms;
		-o-transition-delay: 200ms;
        	transition-delay: 200ms;
	}
	
	.guideline:hover .content a:nth-child(4)
	{
		-webkit-transition-delay: 300ms;
        	-moz-transition-delay: 300ms;
        	-ms-transition-delay: 300ms;
        	-o-transition-delay: 300ms;
        	transition-delay: 300ms;
	}
	
	.content a:nth-child(1)
	{
		color: #930093;
		background-color: #D3A4FF;
		-webkit-transition-delay: 300ms;
        	-moz-transition-delay: 300ms;
        	-ms-transition-delay: 300ms;
        	-o-transition-delay: 300ms;
        	transition-delay: 300ms;
        	border-radius:6px 6px 0 0;
	}
	
	.content a:nth-child(2)
	{
		color: #00AEAE;
		background-color: #96FED1;
	    	-webkit-transition-delay: 200ms;
        	-moz-transition-delay: 200ms;
        	-ms-transition-delay: 20ms;
        	-o-transition-delay: 200ms;
        	transition-delay: 200ms;
	}
	
	.content a:nth-child(3)
	{
		color: #00BB00;
		background-color: #A6FFA6;
		-webkit-transition-delay: 100ms;
        	-moz-transition-delay: 100ms;
        	-ms-transition-delay: 100ms;
        	-o-transition-delay: 100ms;
        	transition-delay: 100ms;
	}

	.content a:nth-child(4)
	{
		color: #FF8000;
		background-color: #FFDAC8;
		-webkit-transition-delay: 0s;
        	-moz-transition-delay: 0s;
        	-ms-transition-delay: 0s;
        	-o-transition-delay: 0s;
        	transition-delay: 0s;
		border-radius: 0 0 6px 6px;
	}
