body {
  background: #eee;
}

* {
  position: absolute;
  margin: 0; padding: 0;
}

input[type="text"] {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 18px;
  width: 200px;
  text-transform: uppercase;
  top: 30px;
  left: 130px;
  display: none;
}

input[type="submit"] {
  display: block;
  width: 100px;
  border: 0;
  line-height: 35px;
  height: 35px;
  font-family: '微软雅黑', '宋体';
  color: #fff;
  background: mediumpurple;
  font-size: 18px;
  top: 30px;
  left: 260px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-animation: shake 0.2s infinite alternate;
  animation: shake 0.2s infinite alternate;
}

@keyframes shake
{
	0%{-moz-transform: rotate(0deg);
	 -ms-transform: rotate(0deg); 
	 -o-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	 transform: rotate(0deg);}
	25%{-moz-transform: rotate(4deg);
	 -ms-transform: rotate(4deg); 
	 -o-transform: rotate(4deg);
	 -webkit-transform: rotate(4deg);
	 transform: rotate(4deg);}
	50%{-moz-transform: rotate(1deg);
	 -ms-transform: rotate(1deg); 
	 -o-transform: rotate(1deg);
	 -webkit-transform: rotate(1deg);
	 transform: rotate(1deg);}
	75%{-moz-transform: rotate(4deg);
	 -ms-transform: rotate(4deg); 
	 -o-transform: rotate(4deg);
	 -webkit-transform: rotate(4deg);
	 transform: rotate(4deg);}
	100%{-moz-transform: rotate(1deg);
	 -ms-transform: rotate(1deg); 
	 -o-transform: rotate(1deg);
	 -webkit-transform: rotate(1deg);
	 transform: rotate(1deg);}
}

input:hover
{
	-webkit-animation: none;
	animation: none;
}

form {
  width: 600px;
  height: 100px;
}

@keyframes float
{
	0% {top: 22%}
	100% {top: 28%}	
}

#main
{
	position: fixed;
	top: 25%;
	width: 38px;
	text-align: center;
	font-family: '微软雅黑', '宋体';
	font-size: 20px;
	text-decoration: none;
	display: none;
	background: #00FFFF;
	color: #007979;
	border-radius: 10px;
	padding: 10px 0;
	-webkit-animation:  float 2s infinite alternate;
	animation: float 2s infinite alternate;
}
